.formBack{
    width: 25%;
    height: 100%;
    background-color: burlywood;
    margin: auto;
    padding: 5px;
}

.formTop{
    width: 25%;
    padding: 5px;
    height: 40%;
    margin: auto;
    background-color: rgb(102, 64, 96);
    margin-top: 50px;
}