.input{
    width: 90%;
    margin-bottom: 5px;
    padding: 5px;
}

.button{
    background-color: brown;
    border: none;
    width: 20%;
    padding: 3px;
    border: 1px solid rgb(58, 196, 241);
}